<!DOCTYPE html>
<html>
<head>
  <title>Twitter</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
<% if flash[:notice] %>
  <% div class="notification.is-primary.global-notification" %>
  <p class="notice">
    <% notice %> </p>
<% end %>

<% if flash[:alert] %>
  <div class="notification is-danger global-notification"></div>
  <p class="alert"><%= alert %></p>
  </p>
<% end %>
<%= yield %>
</body>
</html>